<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="error-template center-block">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!<br>
        </div>
        <div class="error-actions">
          <a class="btn btn-primary" routerLink="/home">
            <i class="icon-home icon-white"></i> Take Me Home </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
