# Replace the credentials here with your own.
# Rename this file to env-vars.json before starting the app.
# Place each item in quotes as you add

{

  "CLOUDANT_CONNECTION_URL": <add_cloudant_connection_URL>,
  "CLOUDANT_USERNAME": <add_cloudant_username>,
  "CLOUDANT_PASSWORD": <add_cloudant_password>,
  "CLOUDANT_ANALYSIS_DB_NAME": "analysis-db",
  "CLOUDANT_CONVERSATION_STATE_DB_NAME": "conversation-state-db",

  "CONVERSATION_API_URL": <add_conversation_API_url>,
  "CONVERSATION_API_USER": <add_conversation_username>,
  "CONVERSATION_API_PASSWORD": <add_conversation_password>,
  "CONVERSATION_CLASSIFICATION_WORKSPACE_ID": <add_conversation_password>,

  "NLU_API_USER": <add_NLU_username>,
  "NLU_API_PASSWORD": <add_NLU_password>,

  "TONE_ANALYZER_USER": <add_tone_analyzer_username>,
  "TONE_ANALYZER_PASSWORD": <add_tone_analyzer_password>,

  "TWITTER_CONSUMER_KEY": "",
  "TWITTER_CONSUMER_SECRET": "",
  "TWITTER_ACCESS_TOKEN": "",
  "TWITTER_ACCESS_SECRET": "",
  "TWITTER_LISTEN_FOR": "",
  "TWITTER_FILTER_FROM": "",
  "TWITTER_FILTER_CONTAINING": "",
  "TWITTER_PROCESS_RETWEETS": false,
  "TWITTER_RECEIVER_START_AT_BOOT": true,
  "TWITTER_CHATBOT_SCREENNAME": "",
  "TWITTER_CHATBOT_START_AT_BOOT": true
}
