{

  "CLOUDANT_CONNECTION_URL": "",
  "CLOUDANT_USERNAME": "",
  "CLOUDANT_PASSWORD": "",
  "CLOUDANT_ANALYSIS_DB_NAME": "analysis-db",
  "CLOUDANT_CONVERSATION_STATE_DB_NAME": "conversation-state-db",

  "CONVERSATION_API_URL": "",
  "CONVERSATION_API_USER": "",
  "CONVERSATION_API_PASSWORD": "",
  "CONVERSATION_CLASSIFICATION_WORKSPACE_ID": "",

  "NLU_API_USER": "",
  "NLU_API_PASSWORD": "",

  "TONE_ANALYZER_USER": "",
  "TONE_ANALYZER_PASSWORD": "",

  "TWITTER_CONSUMER_KEY": "",
  "TWITTER_CONSUMER_SECRET": "",
  "TWITTER_ACCESS_TOKEN": "",
  "TWITTER_ACCESS_SECRET": "",
  "TWITTER_LISTEN_FOR": "",
  "TWITTER_FILTER_FROM": "",
  "TWITTER_FILTER_CONTAINING": "",
  "TWITTER_PROCESS_RETWEETS": false,
  "TWITTER_RECEIVER_START_AT_BOOT": true,
  "TWITTER_CHATBOT_SCREENNAME": "",
  "TWITTER_CHATBOT_START_AT_BOOT": true
}
