{
  "CLOUDANT_CONNECTION_URL": {"expr": "Cloudant.*", "field": "credentials.url"},
  "CLOUDANT_USERNAME": {"expr": "Cloudant.*", "field": "credentials.username"},
  "CLOUDANT_PASSWORD": {"expr": "Cloudant.*", "field": "credentials.password"},
  "CLOUDANT_ANALYSIS_DB_NAME": "analysis-db",
  "CLOUDANT_CONVERSATION_STATE_DB_NAME": "conversation-state-db",
  "CONVERSATION_API_URL": {"expr": "Conversation.*", "field": "credentials.url"},
  "CONVERSATION_API_USER": {"expr": "Conversation.*", "field": "credentials.username"},
  "CONVERSATION_API_PASSWORD": {"expr": "Conversation.*", "field": "credentials.password"},
  "CONVERSATION_CLASSIFICATION_WORKSPACE_ID": "",
  "CONVERSATION_CHATBOT_WORKSPACE_ID": "",
  "NLU_API_USER": {"expr": "Natural.*", "field": "credentials.username"},
  "NLU_API_PASSWORD": {"expr": "Natural.*", "field": "credentials.password"},
  "TONE_ANALYZER_USER": {"expr": "Tone.*", "field": "credentials.username"},
  "TONE_ANALYZER_PASSWORD": {"expr": "Tone.*", "field": "credentials.password"},
  "TWITTER_CONSUMER_KEY": "",
  "TWITTER_CONSUMER_SECRET": "",
  "TWITTER_ACCESS_TOKEN": "",
  "TWITTER_ACCESS_SECRET": "",
  "TWITTER_LISTEN_FOR": "",
  "TWITTER_FILTER_FROM": "",
  "TWITTER_FILTER_CONTAINING": "",
  "TWITTER_PROCESS_RETWEETS": false,
  "TWITTER_RECEIVER_START_AT_BOOT": true,
  "TWITTER_CHATBOT_SCREENNAME": "",
  "TWITTER_CHATBOT_START_AT_BOOT": true
}
