<div class="row section" id="allocation-section">
  <div class="col-sm-6">
    <h3 class="section-header"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>  Classification <span>of live tweets</span></h3>
    <div class="card">
      <div id="tweet-classification-chart"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <h3 class="section-header"><i class="fa fa-thumbs-up" aria-hidden="true"></i>  Sentiment <span>overtime</span></h3>
    <div class="card">
      <div id="sentiment-overtime-chart"></div>
    </div>
  </div>
</div>
<div class="row">
</div>
