<div class="container-fluid">
  <app-navbar></app-navbar>
  <app-status id="status"></app-status>
  <app-allocation id="allocation"></app-allocation>
  <app-trends id="trends"></app-trends>
  <!--app-status id="status" in-viewport [inViewportOptions]="{ partial: false }" (inViewportAction)="inview($event)"></app-status>
  <app-allocation id="allocation" in-viewport [inViewportOptions]="{ partial: false }" (inViewportAction)="inview($event)"></app-allocation>
  <app-trends id="trends" in-viewport [inViewportOptions]="{ partial: false }" (inViewportAction)="inview($event)"></app-trends -->
</div>
